* {
  margin: 0;
  padding: 0;
}

body {
  background: #FFFF00;
}

@media screen and (min-width: 900px) {
  body {
    background: url('large-background.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}

@media screen and (min-width: 500px) {
  body {
    background: url('large-background.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}